html {
  overflow: hidden;
  height: 100%;
  background: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  color: #fff;
  background-color: #000;
  overflow-y: auto;
  font-family: Microsoft YaHei;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

nav {
  color: gray;
  background-color: #000;
  display: flex;
  text-align: center;
}
nav .menu {
  width: 2em;
  cursor: pointer;
}
nav .menu:hover {
  color: #000;
  background-color: grey;
}
nav .title {
  padding-left: 0.5em;
  padding-right: 0em;
  cursor: default;
}
nav .title.active {
  color: grey;
  background-color: #222;
}
nav .title .close {
  padding-left: 0.2em;
  padding-right: 0.5em;
  cursor: pointer;
  color: #000;
}
nav .title .close:hover {
  color: #f00;
  background-color: grey;
}
nav .title:hover {
  color: black;
  background-color: grey;
}
nav .min {
  width: 1.5em;
  margin-left: auto;
  cursor: pointer;
}
nav .min:hover {
  color: #0f0;
  background-color: grey;
}
nav .max {
  width: 1.5em;
  cursor: pointer;
}
nav .max:hover {
  color: #ff0;
  background-color: grey;
}
nav .close {
  width: 1.5em;
  cursor: pointer;
}
nav .close:hover {
  color: #f00;
  background-color: grey;
}

.output div {
  font-size: 0;
}
.output span {
  font-size: medium;
}
.output span.text {
  position: relative;
}
.output span.text div.popup {
  font-size: medium;
  position: absolute;
  visibility: hidden;
  text-align: center;
  display: inline-block;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: dimgray;
}
.output span.text:hover div.popup {
  visibility: visible;
}
.output span.button {
  padding: 0;
  cursor: pointer;
  background-color: gray;
  border: none;
  color: white;
  text-align: center;
  position: relative;
}
.output span.button div.popup {
  font-size: medium;
  position: absolute;
  visibility: hidden;
  text-align: center;
  display: inline-block;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: dimgray;
}
.output span.button:hover {
  color: #000;
  background-color: #fff;
}
.output span.button:hover div.popup {
  visibility: visible;
}
.output span.link {
  color: white;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
}
.output span.link div.popup {
  font-size: medium;
  position: absolute;
  visibility: hidden;
  text-align: center;
  display: inline-block;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  background-color: dimgray;
}
.output span.link:hover {
  color: #000;
  text-decoration: none;
  background-color: #fff;
}
.output span.link:hover div.popup {
  visibility: visible;
}
.output span.check {
  cursor: pointer;
  background-color: gray;
}
.output span.check:hover {
  text-decoration: underline;
}
.output span.bar {
  font-size: 0;
  background-color: dimgray;
  display: inline-block;
  width: 100px;
  position: relative;
  top: 3px;
  height: 17px;
}
.output span.bar .barbar {
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: lightgray;
}
.output span.radio {
  cursor: pointer;
  background-color: gray;
}
.output span.radio:hover {
  text-decoration: underline;
}

.input {
  display: flex;
  color: white;
  background-color: black;
  cursor: default;
}
.input:focus {
  outline: 0px solid transparent;
}
.input .input-value {
  overflow-wrap: break-word;
  width: 100%;
}
.input .input-value:focus {
  outline: 0px solid transparent;
}

/*# sourceMappingURL=span-charm.css.map */
