// @include font-face(Monomono, Monomono)
// @font-face 
// 	font-family: "Monomono"
// 	src: url("/Monomono.ttf") format("truetype")

html
    overflow: hidden
    height: 100%
    background: rgba(0,0,0,0)
    // font-family: Monomono
body 
    margin: 0
    color: #fff
    background-color: #000
    overflow-y: auto
    font-family: Microsoft YaHei
    height: 100%
    border-top-left-radius: 10px
    border-top-right-radius: 10px
nav
    color: gray
    background-color: #000
    display: flex
    text-align: center
    .menu
        width: 2em
        cursor: pointer
        &:hover
            color: #000
            background-color: grey
    .title
        padding-left: 1em
        padding-right: 1em
        cursor: default
        &:hover
            color: black
            background-color: grey
    .min
        width: 1.5em
        margin-left: auto
        cursor: pointer
        &:hover
            color: #0f0
            background-color: grey
    .max
        width: 1.5em
        cursor: pointer
        &:hover
            color: #ff0
            background-color: grey
    .close
        width: 1.5em
        cursor: pointer
        &:hover
            color: #f00
            background-color: grey
button 
    font: unset
    padding: 0
    cursor: pointer
    background-color: gray
    border: none
    color: white
    text-align: center
    &:hover
        color: #000
        background-color: #fff
a
    color: white
    cursor: pointer
    text-decoration: underline
    &:hover
        color: #000
        text-decoration: none
        background-color: #fff
.output
    
.input
    display: flex
    color: white
    background-color: black
    cursor: default
    &:focus
        outline: 0px solid transparent

.input-value
    overflow-wrap: break-word
    &:focus
        outline: 0px solid transparent
// #container


